<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TCDefectIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
       </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TCDefectIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <TCDefectIntegration.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
    </TCDefectIntegration.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <TCDefectIntegration.Properties.Settings>
      <setting name="DefectType" serializeAs="String">
        <value>New Feature</value>
      </setting>
      <setting name="DefectAssignee" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefectPriority" serializeAs="String">
        <value>Minor</value>
      </setting>
      <setting name="DefectStatus" serializeAs="String">
        <value>New</value>
      </setting>
      <setting name="CustomDefectProperties" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefectComponents" serializeAs="String">
        <value/>
      </setting>
      <setting name="URL" serializeAs="String">
        <value>https://jira.tricentis.com/browse</value>
      </setting>
      <setting name="SoapURL" serializeAs="String">
        <value>https://jira.tricentis.com/rpc/soap/jirasoapservice-v2?wsdl</value>
      </setting>
      <setting name="DefectProject" serializeAs="String">
        <value>TOSCA</value>
      </setting>
      <setting name="ProxyURL" serializeAs="String">
        <value>192.168.1.23:8080</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>True</value>
      </setting>
    </TCDefectIntegration.Properties.Settings>
  </applicationSettings>
</configuration>
